.groupBox {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: black;
  border-radius: 10px;
  margin: 20px;
  margin-top: 20px;
  padding: 20px;
  z-index: 9999;
}

.listItemContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* z-index: 9999; */
}

.listItem {
  list-style: none;
}

.avatar {
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 10px;
}
