.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  color: #4b9cd3;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
}

.studentPage {
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
}
.studentsPagePanelOpen {
  display: flex;
  justify-content: flex-start;
  position: relative;
  left: 20%;
}

.studentList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.panelOpen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  right: 10%;
}

.buttonInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
}
.listItem {
  overflow: hidden;
  padding-top: 2.4%;
  padding-bottom: 2.4%;
  margin: 6px;
  align-items: center;
  background: radial-gradient(100% 100% at 100% 0, #4b9cd3 0, #0824f1a2 100%);
  border: 0;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: flex-start;
  line-height: 1;
  position: relative;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  z-index: 999;
}

.listItem:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.listItem:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #06d4ef 0 -3px 0 inset;
  transform: translateY(-2px);
}

.listItem:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.avatar {
  position: relative;
  display: inline;
  right: 10px;
  border-radius: 50%;
  margin: 10px;
  border: #4b9cd3 2px solid;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
}

.buttonLogo {
  z-index: -1;
  position: relative;
  left: 20px;
  opacity: 0.45;
  transition: all 0.35s ease-in-out;
}

.listItem:hover .buttonLogo {
  opacity: 1;
}

.groupButton {
  position: fixed;
  top: 15%;
  right: 30%;
}

.groupButton button {
  border-radius: 10%;
  padding: 1em;
  background: radial-gradient(100% 100% at 100% 0, #4b9cd3 0, #0824f1a2 100%);
  border: 1px solid #f1f1f2;
  /* background: radial-gradient(
    hsla(187, 95%, 48%, 1) 0%,
    hsla(216, 88%, 45%, 1) 65%
  ); */

  color: black;
  cursor: pointer;
}
.modalInner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
}
.modalAvatar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  position: relative;
  display: inline;
  border-radius: 25%;
  margin: 10px;
  /* border: #4b9cd3 2px solid; */
  /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset; */
}

.modalTitle {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
}
@media screen and (max-width: 600px) {
  .buttonLogo {
    display: none;
  }

  .avatar {
    display: none;
  }

  .studentPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .studentList {
    align-items: center;
    justify-content: center;
  }

  .groupButton {
    position: unset;
    display: block;
    margin: 1%;
  }
}
